<header>
  <a href="">Log Out</a>
  <nav role="navigation">
    <a href="/" class="muskoka-logo"><img src="../../assets/img/muskoka-logo-black.jpg" alt="Muskoka Discovery Centre Logo" height="140" /></a>
    <ul>
      <li><a href="">Sign In</a></li>
      <li><a href="">Sign Out</a></li>
      <li><a href="">Register a Child</a></li>
      <li><a href="../camper-list">List of Children</a></li>
      <li><a href="">Admin List</a></li>
    </ul>
  </nav>
</header>
<section class="cont-sli">
  <!--Split Banner-->
  <div class='split-pane col-xs-12 col-sm-6 signin-side'>
    <div>
      <i class="fa fa-user"></i>
      <div class='text-content'>
        <div>Children</div>
      </div>
      <a class="scroll" href="#signin">
        <button id="kidin">Sign In</button>
      </a>
    </div>
  </div>
  <div class='split-pane col-xs-12 col-sm-6 signout-side'>
    <div>
      <i class="fa fa-user"></i>
      <div class='text-content'>
        <div>Children</div>
      </div>
      <a class="scroll" href="#signout">
        <button id="kidout">Sign Out</button>
      </a>
    </div>
  </div>
  <div id='split-pane-or'>
    or
  </div>
</section>
<!--End of header-->



<section id="signin">
  <h1 class="text-center"> SignIn</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi aspernatur consequatur nisi voluptatem id sit modi obcaecati unde dicta repudiandae, animi reiciendis ducimus tempore assumenda ea dolorem, quis voluptatum ratione nulla error architecto accusantium nihil amet. Facere rerum esse, facilis quasi tempora aspernatur sunt rem autem eius iste earum corporis id tempore ratione hic quae expedita eveniet repellendus odit consequatur numquam! Asperiores inventore laudantium, illo reprehenderit? Harum dignissimos fugiat unde earum consequuntur eum laboriosam expedita ullam, quibusdam, soluta, animi commodi libero! Error aliquid voluptatem labore quod, voluptatum saepe obcaecati ratione dolorem. Quidem laboriosam sint rerum neque fugiat est dolor, reiciendis?</p>
</section>


<section id="signout">
  <h1 class="text-center"> SignOut</h1>
  <p> Sign Out Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi aspernatur consequatur nisi voluptatem id sit modi obcaecati unde dicta repudiandae, animi reiciendis ducimus tempore assumenda ea dolorem, quis voluptatum ratione nulla error architecto accusantium nihil amet. Facere rerum esse, facilis quasi tempora aspernatur sunt rem autem eius iste earum corporis id tempore ratione hic quae expedita eveniet repellendus odit consequatur numquam! Asperiores inventore laudantium, illo reprehenderit? Harum dignissimos fugiat unde earum consequuntur eum laboriosam expedita ullam, quibusdam, soluta, animi commodi libero! Error aliquid voluptatem labore quod, voluptatum saepe obcaecati ratione dolorem. Quidem laboriosam sint rerum neque fugiat est dolor, reiciendis?</p>
</section>

<script src="../../assets/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../assets/js/bootstrap.min.js"></script>

<script src="../../assets/https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


<!-- Custom Theme JavaScript -->
<script src="../../assets/js/index.js"></script>
