<header>
    <nav id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="muskoka-logo"><img src="../../assets/img/muskoka-logo-black.jpg" alt="Muskoka Discovery Centre Logo" height="100" /></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
      </div>
      <div class="collapse navbar-collapse navbar-menubuilder">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="">Home</a></li>
          <li><a href="../camper-register">Add Camper</a></li>
          <li><a href="">Activate  Camper</a></li>
          <li><a href="../camper-list">List of Camper</a></li>
          <li><a href="">Admin List</a></li>
          <li><a class="logout" href="">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<!--Register Form-->


<div class="register">
  <form>
    <h1 *ngIf="!_id">Register New Camper</h1>
    <h1 *ngIf="_id">Edit Camper</h1>


    <div class="form-group">
      <input type="text" required="required" id="parent-first-name" [(ngModel)]="parentFirstName" />
      <label class="control-label" for="parent-first-name">Parent/Guardian First Name</label><i class="bar">
      </i>
    </div>

    <div class="form-group">
      <input type="text" required="required" id="parent-last-name" [(ngModel)]="parentLastName" />
      <label class="control-label" for="parent-last-name">Parent/Guardian Last Name</label><i class="bar">
    </i>
    </div>
      <div class="form-group">
      <input type="text" required="required" id="camper-first-name" [(ngModel)]="camperFirstName" />
      <label class="control-label" for="camper-first-name">Camper's First Name</label><i class="bar"></i>
    </div>

    <div class="form-group">
      <input type="text" required="required" id="camper-last-name" [(ngModel)]="camperLastName" />
      <label class="control-label" for="camper-last-name">Camper's Last Name</label><i class="bar"></i>
    </div>

    <div class="form-group">
      <input type="text" required="required" id="parent-phone-number" [(ngModel)]="parentPhoneNumber" />
      <label class="control-label" for="parent-phone-number">Guardian Phone Number</label><i class="bar"></i>
    </div>

    <div class="form-group">
      <input type="text" required="required" id="camper-age" [(ngModel)]="camperAge" />
      <label class="control-label" for="camper-age">Camper's Age</label><i class="bar"></i>
    </div>

    <div class="form-group">
      <textarea rows="5" required="required" id="camper-notes" [(ngModel)]="camperNotes" ></textarea>
      <label class="control-label" for="camper-notes"> Camper's Medical or Other Significant Notes </label><i class="bar"></i>
    </div>

  </form>
  <div class="button-container">
    <button class="regi-button" type="button"><span>Submit</span></button>
    <button class="regi-button" (click)="addCamper()" *ngIf="!_id"><span>Add</span></button>
    <button class="regi-button" (click)="updateCamper()" *ngIf="_id"><span>Update</span></button>
    <button class="regi-button" (click)="clearForm()"><span>Reset</span></button>
    <input type="hidden" name="_id" id="_id" [(ngModel)]="_id" />
  </div>
</div>
