<header>
    <nav id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="../home" class="muskoka-logo"><img src="../../assets/img/muskoka-logo-black.jpg" alt="Muskoka Discovery Centre Logo" height="100" /></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
      </div>
      <div class="collapse navbar-collapse navbar-menubuilder">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../home">Home</a></li>
          <li><a href="../camper-register">Add Camper</a></li>
          <li><a href="../camper-active">Active Campers</a></li>
          <li><a href="../camper-list">List of Campers</a></li>
          <li *ngIf="userInfo && (userInfo.role === 'admin')"><a href="../admin-list">Admin List</a></li>
          <li><a class="logout" href="" (click)="logout()">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<!--Register Form-->


<div class="register">
  <form>
    <h1>Register New Camper</h1>


    <div class="form-group">
      <input type="text" required="required"  name="parent-first-name" id="parent-first-name" [(ngModel)]="parentFirstName" />
      <label class="control-label" for="parent-first-name">Parent/Guardian First Name</label><i class="bar">
      </i>
    </div>

    <div class="form-group">
      <input type="text" required="required" name="parent-last-name" id="parent-last-name" [(ngModel)]="parentLastName" />
      <label class="control-label" for="parent-last-name">Parent/Guardian Last Name</label><i class="bar">
    </i>
    </div>
      <div class="form-group">
      <input type="text" required="required" name="camper-first-name" id="camper-first-name" [(ngModel)]="camperFirstName" />
      <label class="control-label" for="camper-first-name">Camper's First Name</label><i class="bar"></i>
    </div>

    <div class="form-group">
      <input type="text" required="required" name="camper-last-name" id="camper-last-name" [(ngModel)]="camperLastName" />
      <label class="control-label" for="camper-last-name">Camper's Last Name</label><i class="bar"></i>
    </div>

    <div class="form-group">
      <input type="text" required="required" name="parent-phone-number" id="parent-phone-number" [(ngModel)]="parentPhoneNumber" />
      <label class="control-label" for="parent-phone-number">Guardian Phone Number</label><i class="bar"></i>
    </div>

    <div class="form-group">
      <input type="text" required="required" name="camper-age" id="camper-age" [(ngModel)]="camperAge" />
      <label class="control-label" for="camper-age">Camper's Age</label><i class="bar"></i>
    </div>

    <div class="form-group">
      <textarea rows="5" required="required" name="camper-notes" id="camper-notes" [(ngModel)]="camperNotes" ></textarea>
      <label class="control-label" for="camper-notes"> Camper's Medical or Other Significant Notes </label><i class="bar"></i>
    </div>

    <h2>Dates Attending</h2>

    <div class="form-group">
      <input type="date" name="start-date" id="start-date" [(ngModel)]="startDate" />
      <label class="control-label" for="start-date">From: </label><i class="bar"></i>
    </div>

    <div class="form-group">
      <input type="date" name="end-date" id="end-date" [(ngModel)]="endDate" />
      <label class="control-label" for="end-date">To: </label><i class="bar"></i>
    </div>

  </form>
  <div class="button-container">
    <button class="regi-button" (click)="addCamper()"><span>Add</span></button>
    <button class="regi-button" (click)="clearForm()"><span>Reset</span></button>
  </div>
</div>
