<header>
    <nav id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="muskoka-logo"><img src="../../assets/img/muskoka-logo-black.jpg" alt="Muskoka Discovery Centre Logo" height="100" /></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
      </div>
      <div class="collapse navbar-collapse navbar-menubuilder">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="">Home</a></li>
          <li><a href="">Add Camper</a></li>
          <li><a href="">Activate  Camper</a></li>
          <li><a href="../camper-list">List of Camper</a></li>
          <li><a href="">Admin List</a></li>
          <li><a class="logout" href="">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<!--Register Form-->


<div class="register">
  <form>
    <h1>Register New Child</h1>

    <div class="form-group">
      <input type="text" required="required"/>
      <label class="control-label" for="input">Parent/Guardian full name</label><i class="bar">
      </i>
    </div>

      <div class="form-group">
      <input type="text" required="required"/>
      <label class="control-label" for="input">Kid's First Name</label><i class="bar"></i>
    </div>

    <div class="form-group">
      <input type="text" required="required"/>
      <label class="control-label" for="input">Kid's Lasts Name</label><i class="bar"></i>
    </div>

        <div class="form-group">
      <input type="text" required="required"/>
      <label class="control-label" for="input">Guardian Phone Number</label><i class="bar"></i>
    </div>

        <div class="form-group">
      <select>
        <option>Kid's age</option>
        <option>1</option>
        <option>2</option>
      </select><i class="bar"></i>
    </div>

        <div class="form-group">
      <select>
        <option> Payment Type</option>
        <option>Cash</option>
        <option>Visa</option>
      </select><i class="bar"></i>
    </div>


    <div class="form-group">
      <textarea rows="5" required="required"></textarea>
      <label class="control-label" for="textarea">Kids Medical or other significant note </label><i class="bar"></i>
    </div>

  </form>
  <div class="button-container">
    <button class="regi-button" type="button"><span>Submit</span></button>
  </div>
</div>
