<main role="main">
  <article class="login">
    <img src="../../assets/img/muskoka-logo-black.jpg" alt="Muskoka Discovery Centre Logo" height="150" />
    <h1>Camper Details</h1>
    <form action="">
      <div>
        <label for="user">Username</label>
        <input name="username" id="user" placeholder="Username" type="text" required />
      </div>
      <div>
        <label for="password">Password</label>
        <input name="password" id="password" placeholder="Password" type="text" required/>
      </div>
      <div>
        <button type="submit" name="action">Login</button>
      </div>
    </form>
  </article>
</main>
