<header>
  <a href="">Log Out</a>
  <nav role="navigation">
    <a href="/" class="muskoka-logo"><img src="../assets/img/muskoka-logo-black.jpg" alt="Muskoka Discovery Centre Logo" height="140" /></a>
    <ul>
      <li><a href="">Sign In</a></li>
      <li><a href="">Sign Out</a></li>
      <li><a href="">Register a Child</a></li>
      <li><a href="">List of Children</a></li>
      <li><a href="">Admin List</a></li>
    </ul>
  </nav>
</header>
<main role="main">
  <article class="login">
    <img src="../../assets/img/muskoka-logo-black.jpg" alt="Muskoka Discovery Centre Logo" height="150" />
    <h1>Camper Details</h1>
    <form action="">
      <div>
        <label for="user">Username</label>
        <input name="username" id="user" placeholder="Username" type="text" required />
      </div>
      <div>
        <label for="password">Password</label>
        <input name="password" id="password" placeholder="Password" type="text" required/>
      </div>
      <div>
        <button type="submit" name="action">Login</button>
      </div>
    </form>
  </article>
</main>
