<header>
  <nav id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="../home" class="muskoka-logo"><img src="../../assets/img/muskoka-logo-black.jpg" alt="Muskoka Discovery Centre Logo" height="100" /></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
      </div>
      <div class="collapse navbar-collapse navbar-menubuilder">
        <ul class="nav navbar-nav navbar-right">
          <li><a [routerLink]="['../home']">Home</a></li>
          <li><a [routerLink]="['../camper-register']">Add Camper</a></li>
          <li><a [routerLink]="['../camper-active']">Active Campers</a></li>
          <li><a [routerLink]="['../camper-list']">List of All Campers</a></li>
          <li *ngIf="userInfo && (userInfo.role === 'admin')"><a href="../admin-list">Admin List</a></li>
          <li><a class="logout" href="#" (click)="logout()">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main role="main">
  <article id="details">
    <section id="detail">

      <h1>Camper's Detail</h1>
      <table>
        <tbody>
        <tr>
          <th>Parent/Guardian First Name</th>
            <td>{{ camper.parentFirstName }}</td>
           </tr>
        <tr>
          <th>Parent/Guardian Last Name</th>
            <td>{{ camper.parentLastName }}</td>
        </tr>
        <tr>
          <th>Camper's First Name</th>
            <td>{{ camper.camperFirstName }}</td>
        </tr>
        <tr>
          <th>Camper's Last Name</th>
            <td>{{ camper.camperLastName }}</td>
        </tr>
        <tr>
          <th>Guardian Phone Number</th>
            <td>{{ camper.parentPhoneNumber }}</td>
        </tr>
        <tr>
          <th>Camper's Age</th>
            <td>{{ camper.camperAge }}</td>
        </tr>
        <tr>
          <th>Camper's Medical or Other Significant Notes</th>
            <td>{{ camper.camperNotes }}</td>
        </tr>
        </tbody>
      </table>
    </section>
  </article>
</main>
