<header>
  <nav id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a [routerLink]="['/home']" class="muskoka-logo"><img src="../../assets/img/muskoka-logo-black.jpg" alt="Muskoka Discovery Centre Logo" height="100" /></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-menubuilder">
        <ul class="nav navbar-nav navbar-right">
          <li><a [routerLink]="['/home']">Home</a></li>
          <li><a [routerLink]="['/camper-register']">Add Camper</a></li>
          <li><a [routerLink]="['/camper-active']">Active Campers</a></li>
          <li><a [routerLink]="['/camper-list']">List of All Campers</a></li>
          <li *ngIf="userInfo && (userInfo.role === 'admin')"><a [routerLink]="['/admin-list']">Admin List</a></li>
          <li><a class="logout" href="#" (click)="logout()">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main role="main">
  <article>
<section class="signin-table">
    <h1 class="text-center">Sign In</h1>
  <div class="signin-card">
  <!--for demo wrap-->
  <h2><a [routerLink]="['/admin-register']" class="logout">Register New Admin</a></h2>
  <div class="search">
  <input class="search-input" placeholder="Search..." [(ngModel)]="searchQuery"/>
  <button class="fa fa-search search-button" (click)="search()"></button>
</div>

  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>User Name</th>
          <th>Role</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>

        <tr *ngFor="let staff of admins" >
          <td>{{ staff.firstName }}</td>
          <td>{{ staff.lastName }}</td>
          <td>{{ staff.username }}</td>
          <td>{{ staff.role }}</td>
          <td><a [routerLink]="['/admin-edit/'+staff._id]">Edit</a></td>
          <td><a href="" (click)="deleteAdmin(staff._id)">Delete</a></td>
        </tr>

      </tbody>
    </table>
  </div>
  </div>
  <div class="blue-space"></div>
</section>
  </article>
</main>

