<header>
  <a href="">Log Out</a>
  <nav role="navigation">
    <a href="/" class="muskoka-logo"><img src="../assets/img/muskoka-logo-black.jpg" alt="Muskoka Discovery Centre Logo" height="140" /></a>
    <ul>
      <li><a href="">Sign In</a></li>
      <li><a href="">Sign Out</a></li>
      <li><a href="">Register a Child</a></li>
      <li><a href="">List of Children</a></li>
      <li><a href="">Admin List</a></li>
    </ul>
  </nav>
</header>
<main role="main">
  <router-outlet></router-outlet>
</main>
<footer>
  Copyright 2017 - Muskoka Discovery Centre - <a href="">Site Map</a>
</footer>
