<main role="main">
  <article>
    <img src="../../assets/img/muskoka-logo-black.jpg" alt="Muskoka Discovery Centre Logo" height="150" />
    <h1>Log In</h1>
    <form action="">
      <div>
        <label for="user">Username</label>
        <input name="user" id="user" placeholder="Username" type="text" />
      </div>
      <div>
        <label for="password">Password</label>
        <input name="password" id="password" placeholder="Password" type="text" />
      </div>
      <div>
        <button type="button">Log In</button>
      </div>
    </form>
  </article>
</main>
