@import url(normalize.css);
/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav li {
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  max-width: 1600px;
}

header > a {
  color: #fff;
  text-decoration: none;
  line-height: 28px;
  text-align: center;
  width: 75px;
  height: 30px;
  margin: 20px 30px;
  background-color: #ad2e2e;
  float: right;
}

header a:hover {
  text-decoration: underline;
}

nav {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #0c2234;
  clear: both;
}

nav ul {
  width: 50%;
  margin: 0 auto;
}

nav ul li {
  width: 19%;
  text-align: center;
  display: inline-block;

}

nav ul li a {
  display: inline-block;
  width: 100%;
  color: #fff;
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 15px;
  color: #fff;
  background-color: #0c2234;
}
