@import url(normalize.css);

/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav li {
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  max-width: 1600px;
  background-color: #eee;
}

header {
  z-index: 1;
  position: relative;
}

header > a {
  color: #fff;
  text-decoration: none;
  line-height: 28px;
  text-align: center;
  width: 75px;
  height: 30px;
  margin: 20px 30px;
  background-color: #ad2e2e;
  box-shadow: 1px 1px 7px #000;
  float: right;
}

header a:hover {
  text-decoration: underline;
}

.muskoka-logo {
  display: inline-block;
  position: absolute;
  left: 5%;
  top: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*nav .navbar-default {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #0c2234;
  clear: both;
}

nav ul {
  width: 50%;
  margin: 0 auto;
}

nav ul li {
  width: 19%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

nav ul li a {
  display: inline-block;
  width: 100%;
  color: #fff;
  text-decoration: none;
}*/
/***********Navigation************/
.navbar {
  margin: 0;
}
@media (min-width: 768px){
.navbar-right {
    float: right!important;
    margin-right: -15px;
    margin-top: 10px;
}
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a.logout {
    color: #fff;
    text-decoration: none;
    line-height: 28px;
    text-align: center;
    width: 100px;
    padding: 5px 0px;
    margin: 5px 20px;
    border-radius: 10px;
    background-color: #ad2e2e;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(12, 34, 52, 1);
    border-width: 0px;
    border-radius: 0px;
    height: 75px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: #fff;
    background-color: rgba(12, 34, 52, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: #aaa;
    /*background-color: rgba(245, 22, 22, 1);*/
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #0c2234;
}

main {
  height: 100%;
}

table {
  width: 80%;
  margin: 0 auto;
}

article {
  margin-top: 100px;
}

tr {
  border-bottom: 1px solid #000;
  height: 50px;
}

td {
  text-align: center;
}

th {
  background-color: #0c2234;
  text-align: center;
}



footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 15px;
  color: #fff;
  background-color: #0c2234;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #ad2e2e;
}


/* LOG IN PAGE =================================*/
/*
.login {
  width: 400px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid #000;
  padding: 40px
}

.login  {
  text-align: center;
}

.login label {
  display: none;
}

.login input {
  height: 30px;
  width: 200px;
  max-width: 95%;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0;
}

.login button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  color: #fff;
}*/

.background{
  background: url("assets/img/water.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#login{
  margin: 0px auto;
}
.well{
  background-color: #fff;
}

#login img{
  margin: 10px 10px 0;
}
#login .right {
  text-align: right;
}
#login h1 {
  margin: -1em 35px 20px;
  font-size: 6em;
}

#login .login {
  max-width: 80%;
	margin: 35px auto;
}

#login .login-form{
  padding:0px 25px;
  margin: 50px 0 100px;
}
#login .form-group{
  width:35%;
  float:left;
  margin:1%
}

#login .form-group.btnn{
  width:15%;
  float:left;
}
#login i {
margin-top: 0;
}
#login .form-group.btnn button{
  font-size:14px;
  padding: 7px
}
#login .forget{
  clear:both
}


@media (max-width: 768px) {
#login .right {
  text-align: center;
}
#login h1 {
  text-align: center;
  margin: 10px;
  font-size: 4em;
}
#login .form-group{
  width:100%;
  float:none;
  margin:1%
}

#login .form-group.btnn{
  width:25%;
  float:none;
  text-align: center;
      margin: 0 auto;
}
}

/* ================================== end log in page */

/* SIGN IN / SIGN OUT PAGE ======================== */

.cont-sli {
  position: relative;
  height: 90vh;
  max-height: 100vh;
  width: auto;
  min-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}



/*Split banner*/
@media (min-width: 550px) {
  .col-sm-6 {
    width: 50%;
  }
}
/*.signout-side {
  background-image: url("assets/img/signout.jpg");
}
.signin-side {
  background-image: url("assets/img/signin.jpg");
}

@media (max-width: 550px) {
  .signout-side {
    background-image: url("assets/img/signout.jpg");
    height: 50vh;
  }
  .signin-side {
    background-image: url("assets/img/signin.jpg");
    height: 50vh;
  }
}*/

/*.signout-side {
  background-color: rgba(173, 46, 46, 0.5);
}
.signin-side {
  background-color: rgba(31, 86, 130, 0.5);
}*/

.signout-side {
  background-color: rgb(173, 46, 46);
}
.signin-side {
  background-color: rgb(31, 86, 130);
}

.split-pane {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50%;
  font-size: 2em;
  color: white;
}

@media(min-width: 550px) {
  .split-pane {
    height: 100%;
  }
}
#banner-logo {
  position: absolute;
  width: 100%;
  z-index: 100;
  text-align: center;
  vertical-align: baseline;
  top: 0.5em;
}
@media(min-width: 500px) {
  #banner-logo {
    top: 5%;
  }
}
#banner-logo img {
  height: 10em;
}
.split-pane > div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-75%);
  -ms-transform: translateY(-75%);
  transform: translateY(-75%);
  text-align: center;
}
.split-pane > div .text-content {
  line-height: 1.6em;
  text-shadow : 2px 8px 6px rgba(0, 0, 0, 0.8), 0 -5px 16px rgba(0, 0, 0, 0.7);
}
.split-pane > div .text-content .big {
  font-size: 2.4em;
}
.split-pane > div img {
  height: 1.3em;
}
i{
  margin-top: 20px;
}
.split-pane button{
  background: none;
  border: 1px solid white;
  background-color: rgba(0,0,0,0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 15em;
  padding: 0.7em;
  font-size: 0.5em;
  height: 61px;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-decoration: none;
  color: white;
  display: inline-block;

}
.split-pane button:hover{
  text-decoration: none;
  background-color: white;
  color: #eb3650;
  border-color: #eb3650;
}

#split-pane-or {
  font-size: 2em;
  color: white;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 70%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 550px) {
  #split-pane-or, .fa-users, .fa-user {
    display: none;
  }
  .split-pane > div .text-content{
    font-size: 1.4em;
  }
}


@media(min-width: 550px) {
  #split-pane-or {
    font-size: 3em;
  }

}

/*#signin,
#signout{
  display: none;
}*/

/* ==================================  end sign in / sign out page */


/*==========================
sign in/out page table
=======================*/

section.signin-table h1{
   width:50%;
 margin: 0 auto;
 background:#0c2234;
   font-size: 3em;
  color: #fff;
  padding: 50px 0;
}
.blue-space{
     width:50%;
 margin: 0 auto;
 background:#0c2234;
 height: 200px;
}

.signin-table h2{
  font-size: 30px;
  color: #000;
  font-weight: 300;
  float: left;
  margin :20px 5%;
  border-bottom:1px solid #aaa;
}

.signin-table .search{
  float: right;
  padding:10px 2%;
}

.signin-table .search-input {
  border: 0;
  outline: 0;
  line-height: 40px;
  font-size: 14px;
  padding: 0 18px;
  border-radius: 50px 50px 0 ;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.signin-table .search-button {
  box-shadow: -10px 0 10px -5px rgba(0,0,0,0.19);
  color: #fff;
  background-color: #000;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50px;
  margin-left: -40px;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  -webkit-transition: box-shadow .3s ease-out;
  transition: box-shadow .3s ease-out;
}
.signin-table .search-button:active {
  box-shadow: -10px 0 10px -10px rgba(90, 238, 209, 0.5);
}


div.signin-card{
  margin: 0 auto;
  width: 80%;
  padding-top:10px;
  background-color:#fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border:1px solid #eee;
}
.signin-table table{
  width:100%;
  table-layout: fixed;
  margin: 0 auto;
  width:95%;
}
.signin-table .tbl-header{
  background-color: #0c2234;
  margin: 0 auto;
  width:95%;
  clear: both;
 }
.signin-table .tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
.signin-table th{
  padding: 20px 0;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.signin-table td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #000;
  border-bottom: solid 1px rgba(0,0,0,0.1);
}

.signin-table .checkbox {
  position: relative;
  display: inline;
  top: 0;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
.signin-table .checkbox:before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: rotate(-45deg) scale(0, 0);
  -moz-transform: rotate(-45deg) scale(0, 0);
  -ms-transform: rotate(-45deg) scale(0, 0);
  -o-transform: rotate(-45deg) scale(0, 0);
  transform: rotate(-45deg) scale(0, 0);
  content: "";
  position: absolute;
  left: 0.1875rem;
  top: 0.125rem;
  z-index: 1;
  width: 1.75rem;
  height: 0.975rem;
  border: 2px solid #16a085;
  border-top-style: none;
  border-right-style: none;
}
.signin-table .checkbox:checked:before {
  -webkit-transform: rotate(-45deg) scale(1, 1);
  -moz-transform: rotate(-45deg) scale(1, 1);
  -ms-transform: rotate(-45deg) scale(1, 1);
  -o-transform: rotate(-45deg) scale(1, 1);
  transform: rotate(-45deg) scale(1, 1);
}
.signin-table .checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 2rem;
  height: 2rem;
  background: #fff;
  border: 2px solid #f2f2f2;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
    section.signin-table{
  width: 90%;
}
.signin-table .signin-table h1{
  font-size: 30px;
  color: #000;
  font-weight: 300;
  float: none;
  margin :20px 5%;
  text-align: center;
  border-bottom:1px solid #aaa;
}
.signin-table .search{
  float: none;
  padding:10px 2%;
  text-align: center;
}
.signin-table .search-input {
  border: 0;
  outline: 0;
  line-height: 40px;
  width:80%;
  margin: 0 auto;
  font-size: 14px;
  padding: 0 18px;
  border-radius: 50px 50px 0 ;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
}



/*==========================
Camper Register page
=======================*/

.register h1 {
  font-size: 3rem;
  text-align: center;
  margin: 0 0 2em;
}

.register i{
  margin-top: 0;
}

.register {
  position: relative;
  max-width: 50%;
  margin: 5rem auto;
  background: #fff;
  width: 100%;
  padding: 3rem 5rem 0;
  border-radius: 1px;
}
.register form{
  max-width: 70%;
  margin: 0 auto;
}
.register::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: -webkit-transform 0.28s ease-in-out;
  transition: -webkit-transform 0.28s ease-in-out;
  transition: transform 0.28s ease-in-out;
  transition: transform 0.28s ease-in-out, -webkit-transform 0.28s ease-in-out;
  z-index: -1;
}
.register:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.button-container {
  text-align: center;
}

fieldset {
  margin: 0 0 3rem;
  padding: 0;
  border: none;
}


.register .form-group {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.form-inline > .register .form-group,
.form-inline > .btn {
  display: inline-block;
  margin-bottom: 0;
}


.register .form-group input {
  height: 3rem;
}
.register .form-group textarea {
  resize: none;
}
.register .form-group select {
  width: 100%;
  font-size: 1.7rem;
  height: 3rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  color: #b3b3b3;
  border: none;
  line-height: 1.6;
  box-shadow: none;
}
.register .form-group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1.7rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}
.register .form-group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block;
}
.register .form-group .bar::before {
  content: '';
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #337ab7;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}
.register .form-group input,
.register .form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 2rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}
.register .form-group input[type="file"] {
  line-height: 1;
}
.register .form-group input[type="file"] ~ .bar {
  display: none;
}
.register .form-group select,
.register .form-group input:focus,
.register .form-group input:valid,
.register .form-group input.form-file,
 .register .form-group input.has-value,
.register .form-group textarea:focus,
.register .form-group textarea:valid,
.register.form-group textarea.form-file,
.register .form-group textarea.has-value {
  color: #333;
}
.form-group select ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.has-value ~ .control-label,
.form-group textarea:focus ~ .control-label,
.form-group textarea:valid ~ .control-label,
.form-group textarea.form-file ~ .control-label,
.form-group textarea.has-value ~ .control-label {
  font-size: 1.3rem;
  color: gray;
  top: -1.5rem;
  left: 0;
}
.register .form-group select:focus,
.register .form-group input:focus,
.register .form-group textarea:focus {
  outline: none;
}
.register .form-group select:focus ~ .control-label,
.register .form-group input:focus ~ .control-label,
.register .form-group textarea:focus ~ .control-label {
  color: #337ab7;
}
.register .form-group select:focus ~ .bar::before,
.register .form-group input:focus ~ .bar::before,
.register .form-group textarea:focus ~ .bar::before {
  width: 100%;
  left: 0;
}

@media (max-width: 768px){
.register {
  position: relative;
  max-width: 90%;
  margin: 5rem auto;
  background: #fff;
  width: 100%;
  padding: 3rem 5rem 0;
  border-radius: 1px;
}
.register form{
  max-width: 70%;
  margin: 0 auto;
}
}


.regi-button {
  position: relative;
  background: currentColor;
  border: 1px solid currentColor;
  font-size: 1.7rem;
  color: #AD2E2E;
  margin: 3rem 0;
  width:300px;
  border-radius: 10px;
  padding: 1rem 3rem;
  cursor: pointer;
  -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.regi-button span {
  color: #fff;
  position: relative;
  z-index: 1;
}
.regi-button::before {
  content: '';
  position: absolute;
  background: #071017;
  border: 50vh solid #8a2424;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 0;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
.regi-button:hover {
  color: #b54242;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.regi-button:active::before, .regi-button:focus::before {
  -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}
.regi-button:focus {
  outline: none;
}

/*signout form*/
.signout {
  position: relative;
  margin: 5rem auto;
  max-width: 60%;
  border-radius: 1px;
  background-color: rgba(12, 34, 52, 1);
  width: 100%;
   height: 500px;
  padding: 3rem 5rem 0;
  
}
/*form_ signout*/
.signout form {
  background: #fff;
  max-width: 70%;
   margin: 0 auto;
   padding-top: 10px;
  height: 400px;
  text-align: center;
}
/*dropdwon  select*/
.signout .dropdown select {
  border: none;
  line-height: 1.6;
  width: 100%;
  font-size: 1.6rem;
  box-shadow: none;
  height: 3rem;
  color: rgba(12, 34, 52, 1);
  background: none;
  
}
.signout .dropdown .bar {
  position: relative;
  border-bottom: 0.0625rem solid rgba(12, 34, 52, 1);
  display: block;
}
/*dropdown*/
.dropdown {
  margin-left: 200px;
  width: 150px;
}
.signout .dropdown .bar::before {
  bottom: -0.0625rem;
  position: absolute;
  content: '';
  height: 0.125rem;
  width: 0;
  left: 50%;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}

/*submit or cancel button*/
.out-button {
  position: relative;
  background: currentColor;
  border: 1px solid currentColor;
  font-size: 1.7rem;
  cursor: pointer;
  -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  overflow: hidden;
  color: #AD2E2E;
  margin: 3rem 0;
  width:100px;
  border-radius: 10px;
  padding: 1rem 3rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.out-button::before {
  position: absolute;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  display: block;
  background: #071017;
  z-index: 0;
  opacity: 1;
  border: 50vh solid #8a2424;
  top: 50%;
  left: 50%;
   content: '';
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
.out-button span {
  color: #fff;
  position: relative;
  z-index: 1;
}
.out-button:focus {
  outline: none;
}
.out-button:active::before, .out-button:focus::before {
  -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
  opacity: 0;
}

.out-button:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  color: #b54242;
}
